/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f3ecec;
  margin: 0;
  font-family: "Poppins";
  background-image: url("logo2.jpg");
}
header {
  background: #ffffff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

label,
input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

nav {
  display: flex;
  align-items: center;
  color: rgb(195, 214, 219);
}
/* nav a {
  margin-left: 10px;
} */

form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.header-items {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: rgb(195, 214, 219);
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 10px;
  width: 100%;
}
.app-name {
  margin-right: 6rem;
  margin-top: 10px;
}
.header-item {
  margin-right: 1rem;
  margin-top: 10px;
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: none;
}

.image {
  width: 80%;
  height: 200px;
  object-fit: contain;
  object-position: center;
  padding: 1rem;
  height: 150px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 2rem;
  margin-top: 2rem;
  height: 300px;
}

.product {
  width: 200px;
  border: 1px solid #e2e2e2;
  margin: 50px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 300px;
}
.product-description {
  padding: 10px;
  background-color: #f2f2f2;
  flex: 1 0 0;
}

.product-title {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.cart-button {
  padding-left: 30px;
}

.board {
  display: flex;
}

.logout {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin-left: 40px;
}

.left-panel {
  margin-left: 40px;
  margin-top: 3px;
}
